{% extends "base.html" %}

{% block page_content %}
<h1>Serviços</h1>
<div class="row">
{% for servico in servicos %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ servico.carro }}</h5>
                <p class="card-text">{{ servico.tipo }}</p>
                <img src="{{ servico.imagem }}" alt="{{ servico.carro }}" class="img-fluid">
                <a href="{% url 'servico_detail' servico.id %}"
                   class="btn btn-primary">
                    Saiba mais
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}